* {
    margin: 0;
    padding: 0;
    height: 50vh;
    background-color: darkgray;
}

.container1 {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}

.container2 {
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}

.square1 {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 5px solid darkgray;
}

.row1 {
    display: flex;
    flex-direction: column;
}

.row2 {
    display: flex;
    flex-direction: column-reverse;
}